.conteiner{
    background-color: #000000;
    padding: 1rem;
}
.conteiner ul{
    gap: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.conteiner ul li{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}