.conteiner{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #141414;
    color: white;
    height: 100px;
}
h1{
    font-family: "Winky Sans", sans-serif;
    letter-spacing: 0.2rem;
    font-size: 60px;
    color: rgb(236, 96, 126);
    margin-left: auto;
    margin-right: auto;
}